$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$title-color: #ffffff;
$footer-color: #2f303a;
$button-color: #f5f4fa;
$secondary-accent-color: #188ce8;
$section-bc-hero: #f5f4fa;
$border-card-color: solid#EEEEEE;
$color-svg: #afb1b8;
$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$font-logo: "Raleway";
